.header-bg {
  background: #000000;
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.header-ul {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-ul a {
  display: inline-block; /* ************************************************** */
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
  padding: 16px 0;

  position: relative;
}

.header-ul a::after {
  content: "";
  display: block;
  background: linear-gradient(180deg, #FFBF00, #F2A50C);
  height: 2px;
  width: 0px;
  margin-top: 4px;
  
  transition: 0.3s;
  position: absolute;
}

.header-ul a:hover:after {
  width: 100%;
}

@media (max-width: 800px) {
  .header-ul {
    gap: 20px;
  }
  .header-ul a {
    background: #111111;
    border-radius: 4px;
    padding: 12px 16px;
  }
  .header-ul a:hover {
    background: #2E2E2E;
  }
  .header a::after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header {
    justify-content: center;
  }
  .header-ul {
    gap: 12px;
  }
  .header-ul a {
    font-size: 14px;
    padding: 8px 12px;
  }
}