.header-bg {
  background: var(--cor-12);
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu a {
  display: inline-block; /* ************************************************** */
  padding: 16px 0;

  position: relative;
}

.header-menu a::after {
  content: "";
  display: block;
  background: linear-gradient(180deg, var(--cor-lg1), var(--cor-lg2));
  height: 2px;
  width: 0px;
  margin-top: 4px;
  
  transition: 0.2s;
  position: absolute;
}

.header-menu a:hover:after {
  width: 100%;
}

@media (max-width: 800px) {
  .header-menu {
    gap: 20px;
  }
  .header-menu a {
    background: var(--cor-11);
    border-radius: 4px;
    padding: 12px 16px;
  }
  .header-menu a:hover {
    background: var(--cor-10);
  }
  .header a::after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header {
    justify-content: center;
  }
  .header-menu {
    gap: 12px;
  }
  .header-menu a {
    font-size: 14px;
    padding: 8px 12px;
  }
}