.titulo-bg {
  background-color: var(--cor-11);
  padding-top: 60px;
  padding-bottom: 60px;
}

.titulo {
  background: url('../../img/dec/top-right.svg') no-repeat center right 20px;
}

.titulo p {
  margin-bottom: 4px;
}

@media (max-width: 800px) {
  .titulo-bg {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .titulo p {
    font-size: 1rem;
    font-weight: 400;
    text-transform: initial;
  }
}