.depoimento {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: var(--cor-p1);
  overflow: hidden;
}

.depoimento > div img {
  border-radius: 0px;
  object-fit: cover;
  height: 100%;
  width: 100%;
} 

.depoimento-conteudo {
  align-self: end;
  background: url(../../img/dec/bottom-right-p.svg) no-repeat bottom 40px right 40px;
  padding: 40px 40px 80px 80px;
}

.depoimento-conteudo p {
  font-family: "Merriweather", serif;
  font-style: italic;
  font-weight: 900;
  margin-bottom: 32px;
  max-width: 32ch;

  position: relative;
}

.depoimento-conteudo p::before,
.depoimento-conteudo p::after {
  color: var(--cor-p2);
  font-size: 5rem;

  position: absolute;
}

.depoimento-conteudo p::before {
  content: "“";
  top: -20px;
  left: -50px;
}

.depoimento-conteudo p::after {
  content: "”";
}

@media (min-width: 1200px) {
  .depoimento img {
    max-height: 520px;
  }
}

@media (max-width: 800px) {
  .depoimento {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .depoimento img {
    max-height: 200px;
  }
  .depoimento-conteudo {
    padding: 40px 20px;
    justify-self: center;
  }
}